<div class="flex flex-col items-center my-2">
    <div class="">
        Hero
        <div class="flex flex-col">
            <div class="flex flex-row">
                <div class="px-1 m-1 w-7">Id</div>
                <div class="px-1 m-1">Name</div>
            </div>
            <div *ngFor="let artifact of artifacts$ | async" class="flex flex-row m-1 border-2"
                [class.border-blue-400]="editId == artifact.id">
                <div class="px-1 mx-1 w-7">{{artifact.id}}</div>
                <div class="px-1 mx-1">{{artifact.name}}</div>
                <button (pointerup)="edit(artifact)"
                    class="bg-black hover:bg-stone-900 active:bg-stone-800 w-fit p-1 mr-0 ml-auto">Edit</button>
                <button (pointerup)="delete(artifact)"
                    class="bg-black hover:bg-stone-900 active:bg-stone-800 w-fit p-1 mr-0 ml-1">Delete</button>
            </div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col items-center my-2">
        <div *ngIf="editId > -1 " class="flex flex-row items-center">
            <button type="button" (pointerup)="stopEditing()"
                class="backArrow enabled:hover:border-stone-900 enabled:active:border-stone-800 w-2">
            </button>
            {{ 'Currently editing:'+editId }}
        </div>
        <div class="flex flex-col">
            <label for="imagePath">Image Path</label>
            <div class="flex flex-row">
                <img src="{{form.value.imagePath}}" class="w-24" />
                <select id="imagePath" formControlName="imagePath" class="w-full border-2 text-gray-900">
                    <option *ngFor="let artifactAsset of artifactAssets$ | async" value="{{artifactAsset}}"
                        class="dropdownImage">
                        {{ artifactAsset }}
                    </option>
                </select>
            </div>
            <div [class.hidden]="!form.controls['imagePath'].errors?.['required']" class="text-red-600">
                Image Path is required
            </div>
        </div>
        <div class="flex flex-col ">
            <label for="id">Id</label>
            <input id="id" type="number" formControlName="id" class="w-fit border-2 text-gray-900" />
            <div [class.hidden]="!form.controls['id'].errors?.['required']" class="text-red-600">
                Id is required
            </div>
            <div [class.hidden]="!form.controls['id'].errors?.['min']" class="text-red-600">Minimum id is 1
            </div>
        </div>
        <div class="flex flex-col">
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name" class="w-fit border-2 text-gray-900" />
            <div [class.hidden]="!form.controls['name'].errors?.['required']" class="text-red-600">
                Name is required
            </div>
        </div>
        <div class="flex flex-col">
            <label for="name">Description</label>
            <textarea id="name" type="text" formControlName="description" class="w-fit border-2 text-gray-900" ></textarea>
            <div [class.hidden]="!form.controls['description'].errors?.['required']" class="text-red-600">
                Description is required
            </div>
        </div>
        <div class="flex flex-col">
            <label for="class">Type</label>
            <select id="class" formControlName="artifactType" class="w-full border-2 text-gray-900">
                <option *ngFor="let artifactType of artifactTypes$ | async" [value]="artifactType.id">{{
                    artifactType.name }}
                </option>
            </select>
            <div [class.hidden]="!form.controls['artifactType'].errors?.['required']" class="text-red-600">
                Choose a type
            </div>
        </div>

        <button type="submit" [disabled]="!form.valid"
            class="bg-black enabled:hover:bg-stone-900 enabled:active:bg-stone-800 w-fit p-2 mx-auto my-2">
            {{editId > -1 ? 'Edit' : 'Create'}}</button>
    </form>
</div>