<div class="flex flex-row justify-between my-2">
    <div class="mx-4">
        Augment
        <div class="flex flex-col max-h-screen overflow-scroll p-1">
            <div *ngFor="let augment of augments$ | async" class="flex flex-row m-1 border-2"
                [class.border-blue-400]="editId == augment.id">
                <div class="px-1 mx-1 w-7">{{augment.id}}</div>
                <img src="{{augment.imagePath}}" class="w-12" />
                <div [ngClass]="getColorClass(augment.augmentCategoryId) + ' px-1 mx-1'">{{augment.name}}</div>
                <button (pointerup)="edit(augment)"
                    class="bg-black hover:bg-stone-900 active:bg-stone-800 w-fit p-1 mr-0 ml-auto">Edit</button>
                <button (pointerup)="delete(augment)"
                    class="bg-black hover:bg-stone-900 active:bg-stone-800 w-fit p-1 mr-0 ml-1">Delete</button>
            </div>
        </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col items-center my-4">
        <div *ngIf="editId > -1 " class="flex flex-row items-center">
            <button type="button" (pointerup)="stopEditing()"
                class="backArrow enabled:hover:border-stone-900 enabled:active:border-stone-800 w-2">
            </button>
            {{ 'Currently editing:'+editId }}
        </div>
        <div class="flex flex-col">
            <label for="class">Hero</label>
            <div class="flex flex-row">
                <img src="{{currentHeroImage}}" class="w-24" />
                <select id="class" formControlName="heroId" class="w-full border-2 text-gray-900">
                    <option *ngFor="let hero of heroes$ | async" [value]="hero.id">{{ hero.name }}</option>
                </select>
            </div>
            <div [class.hidden]="!form.controls['heroId'].errors?.['required']" class="text-red-600">
                Choose a hero
            </div>
        </div>
        <div class="flex flex-col">
            <label for="imagePath">Image Path</label>
            <div class="flex flex-row">
                <img src="{{form.value.imagePath}}" class="w-24" />
                <select id="imagePath" formControlName="imagePath" class="w-full border-2 text-gray-900">
                    <option *ngFor="let heroImage of heroImages$ | async" value="{{heroImage}}" class="dropdownImage">
                        {{ heroImage }}
                    </option>
                </select>
            </div>
            <div [class.hidden]="!form.controls['imagePath'].errors?.['required']" class="text-red-600">
                Image Path is required
            </div>
        </div>
        <div class="flex flex-col">
            <label for="class">Augment Category</label>
            <select id="class" formControlName="augmentCategoryId" class="w-full border-2 text-gray-900">
                <option *ngFor="let augmentCategory of augmentCategories$ | async" [value]="augmentCategory.id">
                    {{ augmentCategory.name }}</option>
            </select>
            <div [class.hidden]="!form.controls['augmentCategoryId'].errors?.['required']" class="text-red-600">
                Choose an Augment Category
            </div>
        </div>
        <div class="flex flex-col">
            <label for="class">Ability Type</label>
            <select id="class" formControlName="abilityTypeId" class="w-full border-2 text-gray-900">
                <option *ngFor="let abilityType of abilityTypes$ | async" [value]="abilityType.id">
                    {{ abilityType.name }}</option>
            </select>
            <div [class.hidden]="!form.controls['abilityTypeId'].errors?.['required']" class="text-red-600">
                Choose an Ability Type
            </div>
        </div>

        <div class="flex flex-col ">
            <label for="id">Id</label>
            <input id="id" type="number" formControlName="id" class="w-fit border-2 text-gray-900" />
            <div [class.hidden]="!form.controls['id'].errors?.['required']" class="text-red-600">
                Id is required
            </div>
            <div [class.hidden]="!form.controls['id'].errors?.['min']" class="text-red-600">
                Minimum id is 1
            </div>
        </div>
        <div class="flex flex-col">
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name" class="w-fit border-2 text-gray-900" />
            <div [class.hidden]="!form.controls['name'].errors?.['required']" class="text-red-600">
                Name is required
            </div>
        </div>
        <div class="flex flex-col">
            <label for="name">Description</label>
            <textarea id="name" type="text" formControlName="description"
                class="w-fit border-2 text-gray-900 resize"></textarea>
            <div [class.hidden]="!form.controls['description'].errors?.['required']" class="text-red-600">
                Description is required
            </div>
        </div>

        <button type="submit" [disabled]="!form.valid"
            class="bg-black enabled:hover:bg-stone-900 enabled:active:bg-stone-800 w-fit p-2 mx-auto my-2">
            {{editId > -1 ? 'Edit' : 'Create'}}</button>
    </form>
</div>