<div class="augment" (pointerenter)="position_tooltip($event, '.augment-tooltip-container')">
    <img [src]="element?.imagePath ? element!.imagePath : 'assets/Empty.png'"
        [ngClass]="colorClass + ' m-auto w-4/5 border-2'" />
    <div class="augment-tooltip-container w-28 xs:w-32 md:w-48 lg:w-64 xl:w-80">
        <div class="flex-col augment-tooltip p-1 border-2 bg-gray-900">
            <div class="text-center border-b-2 px-1">{{element?.name}}</div>
            <div>{{element?.description}}</div>
        </div>
    </div>
</div>