<div *ngFor="let heroBuild of heroBuilds$ | async | keyvalue">
    <div>
        <img [src]="heroBuild?.key?.imagePath" class="flex h-auto w-24 m-1 sm:w-28 md:w-36" />
    </div>
    <div *ngFor="let buildAug of heroBuild.value" class="p-2">
        <div class="m-2 p-1 border-b-gray-400 w-full border-b-2 flex items-center">
            <h4 class="inline-block">{{ buildAug.build.title }}</h4>
            <button (click)="edit(buildAug.build)"
                class="inline-block bg-stone-500 hover:bg-stone-900 hover:text-white active:bg-black px-2 py-1 rounded-md ml-auto">
                Edit
            </button>
            <button (click)="remove(buildAug.build.id)"
                class="inline-block bg-red-600 hover:bg-red-900 hover:text-white active:bg-red-500 px-2 py-1 rounded-md ml-1">
                Delete
            </button>
        </div>
        <div class="flex flex-row flex-nowrap">
            <div *ngFor="let aug of buildAug.augments">
                <div class="augment" (pointerenter)="position_tooltip($event, '.augment-tooltip-container')">
                    <div [ngClass]="colorClass(aug | async) + ' augmentSlot-imageBorder'">
                        <div ngClass="augmentSlot-imageContainer bg-black">
                            <img [src]="(aug | async)?.augment?.imagePath ?? 'assets/Empty.png'"
                                class="augmentSlot-image w-24" />
                        </div>
                    </div>
                    <div class="augment-tooltip-container w-28 xs:w-32 md:w-48 lg:w-64 xl:w-80"
                        *ngIf="(aug | async)?.augment">
                        <div class="flex-col augment-tooltip p-1 border-2 bg-gray-900">
                            <div class="text-center border-b-2 px-1">{{(aug | async)?.augment?.name}}</div>
                            <div>{{(aug | async)?.augment?.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>