.rhombus-border {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.rhombus-inside {
    clip-path: polygon(50% 8%, 92% 50%, 50% 92%, 8% 50%);
    -webkit-clip-path: polygon(50% 8%, 92% 50%, 50% 92%, 8% 50%);
}

.downArrow {
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}