<div class="flex flex-col xl:flex-row xl:justify-start bg-sky-900 m-2">
    <div class="flex flex-row flex-wrap flex-shrink justify-center p-2" (pointerup)="setSelected($event, -1)">
        <app-augment-slot [item]="augmentSlots[0]" [isSelected]="selectedSlot == 0" (pointerup)="setSelected($event, 0)"
            class="w-10 mt-6       xs:mt-9 xs:w-16           sm:mt-11 sm:w-20           md:mt-14 md:w-24">
        </app-augment-slot>
        <app-augment-slot [item]="augmentSlots[1]" [isSelected]="selectedSlot == 1" (pointerup)="setSelected($event, 1)"
            class="w-10 -ml-4      xs:-ml-7 xs:w-16          sm:-ml-9 sm:w-20           md:-ml-10 md:w-24">
        </app-augment-slot>
        <app-augment-slot [item]="augmentSlots[2]" [isSelected]="selectedSlot == 2" (pointerup)="setSelected($event, 2)"
            class="w-10 -ml-4 mt-6 xs:-ml-7 xs:mt-9 xs:w-16  sm:-ml-9 sm:mt-11 sm:w-20  md:-ml-10 md:mt-14 md:w-24">
        </app-augment-slot>
        <app-augment-slot [item]="augmentSlots[3]" [isSelected]="selectedSlot == 3" (pointerup)="setSelected($event, 3)"
            class="w-10 -ml-4      xs:-ml-7 xs:w-16          sm:-ml-9 sm:w-20           md:-ml-10 md:w-24">
        </app-augment-slot>
        <app-augment-slot [item]="augmentSlots[4]" [isSelected]="selectedSlot == 4" (pointerup)="setSelected($event, 4)"
            class="w-10 -ml-4 mt-6 xs:-ml-7 xs:mt-9 xs:w-16  sm:-ml-9 sm:mt-11 sm:w-20  md:-ml-10 md:mt-14 md:w-24">
        </app-augment-slot>
        <app-augment-slot [item]="augmentSlots[5]" [isSelected]="selectedSlot == 5" (pointerup)="setSelected($event, 5)"
            class="w-10 -ml-4      xs:-ml-7 xs:w-16          sm:-ml-9 sm:w-20           md:-ml-10 md:w-24">
        </app-augment-slot>

        <app-augment-slot [item]="augmentSlots[6]" [isSelected]="selectedSlot == 6" (pointerup)="setSelected($event, 6)"
            class="w-10 mt-6       xs:mt-9 xs:w-16           sm:mt-11 sm:w-20           md:mt-14 md:w-24">
        </app-augment-slot>
        <app-augment-slot [item]="augmentSlots[7]" [isSelected]="selectedSlot == 7" (pointerup)="setSelected($event, 7)"
            class="w-10 -ml-4      xs:-ml-7 xs:w-16          sm:-ml-9 sm:w-20           md:-ml-10 md:w-24">
        </app-augment-slot>
    </div>
    <div class="flex-col flex-grow m-2" [class.hidden]="selectedSlot < 0">
        <div [class.hidden]="augmentSlots[selectedSlot].augmentCategory != 4">FLEX AUGMENTS
            <div class="flex flex-row flex-nowrap justify-center text-gray-900">
                <button
                    class="flex-grow h-8 text-center bg-red-800 border-x-2 -ml-2 enabled:hover:bg-red-600 disabled:bg-slate-800">
                    COMBAT </button>
                <button
                    class="flex-grow h-8 text-center bg-yellow-700 border-x-2 -ml-2 enabled:hover:bg-yellow-500 disabled:bg-slate-800">
                    UTILITY </button>
                <button
                    class="flex-grow h-8 text-center bg-sky-800 border-x-2 -ml-2 enabled:hover:bg-sky-600 disabled:bg-slate-800">
                    ARTIFACT </button>
            </div>
        </div>
        <div class="mb-2" [class.hidden]="augmentSlots[selectedSlot].augmentCategory != 0">ARTIFACT
        </div>
        <div class="mb-2" [class.hidden]="augmentSlots[selectedSlot].augmentCategory != 1">COMBAT
        </div>
        <div class="mb-2" [class.hidden]="augmentSlots[selectedSlot].augmentCategory != 2">UTILITY
        </div>
        <div class="mb-2" [class.hidden]="augmentSlots[selectedSlot].augmentCategory != 3">ULTIMATE
        </div>
        <div class="mb-2" [class.hidden]="augmentSlots[selectedSlot].augmentCategory != 5">ACTIVE
        </div>
        <div class="flex flex-row flex-nowrap justify-center">

        </div>
    </div>
</div>