<div class="relative text-white bg-black bg-opacity-75">
    <nav class="w-full h-11 fixed top-0 bg-gray-800 z-10 border-b border-gray-700">
        <div class="hidden xs:flex items-center h-full md:max-w-4xl xl:max-w-6xl mx-auto">
            <img src="favicon.ico" class="w-6 h-6" />
            <a routerLink="/" class="flex items-center p-2 hover:bg-gray-700 m-0">
                Home</a>
            <a routerLink="/mapplanner" class="flex items-center p-2 hover:bg-gray-700 m-0">
                Map </a>
            <div class="flex flex-nowrap ml-auto my-0 py-0">
                <a routerLink="/mybuilds" *ngIf="isLoggedIn" class="flex items-center p-2 hover:bg-gray-700">
                    My Builds
                </a>
                <a routerLink="/admin" *ngIf="isLoggedIn && isAdmin"
                    class="flex items-center p-2 hover:bg-gray-700 mr-2">
                    Admin
                </a>
                <div *ngIf="isLoggedIn; else loggedOut" class="flex items-center p-2 text-blue-400"> Hello, {{username}}
                </div>
                <ng-template #loggedOut>
                    <a [href]="AuthUrl" class="flex items-center p-2 hover:bg-gray-700 hover:cursor-pointer mr-0">
                        Login With Discord </a>
                </ng-template>
            </div>
        </div>
        <div class="flex xs:hidden h-full bg-gray-800 ">
            <a (click)="burgerToggled = !burgerToggled"
                class="flex items-center w-10 p-1 hover:cursor-pointer hover:bg-gray-700"
                [class.bg-gray-700]="burgerToggled">
                <img src="assets\hamburger_icon.png" />
            </a>
            <div *ngIf="isLoggedIn; else loggedOut" class="flex items-center ml-auto p-2 text-blue-400"> Hello,
                {{username}}
            </div>

            <div [ngClass]="(burgerToggled ? 'top-0 h-full w-full' : 'top-full') +
                    ' bg-gray-800 fixed xs:hidden transition-all ease-in-out duration-300 mt-11'">
                <div class="flex-col">
                    <a routerLink="/" (click)="burgerToggled = false" class="flex items-center p-2 hover:bg-gray-700">
                        Home</a>
                    <a routerLink="/mapplanner" (click)="burgerToggled = false"
                        class="flex items-center p-2 hover:bg-gray-700 m-0">
                        Map </a>
                    <a routerLink="/mybuilds" *ngIf="isLoggedIn" (click)="burgerToggled = false"
                        class="flex items-center p-2 hover:bg-gray-700">
                        My Builds
                    </a>
                    <a routerLink="/admin" *ngIf="isLoggedIn && isAdmin" (click)="burgerToggled = false"
                        class="flex items-center p-2 hover:bg-gray-700 mr-2">
                        Admin
                    </a>
                    <ng-template #loggedOut>
                        <a [href]="AuthUrl" class="flex items-center p-2 hover:bg-gray-700 hover:cursor-pointer mr-0">
                            Login With Discord </a>
                    </ng-template>
                </div>
            </div>
        </div>

    </nav>

    <div class="mt-11 md:max-w-4xl xl:max-w-6xl mx-auto min-h-screen bg-fixed bg-gray-900 bg-opacity-90">
        <router-outlet></router-outlet>
    </div>
    <div class="w-full h-11  bg-gray-800 border-t border-opacity-50 border-gray-700  px-4 py-1">
        <div class="flex items-center justify-between h-full m-0 bottom-0 md:max-w-4xl xl:max-w-6xl mx-auto px-2">
            <a href="https://playfangs.com"
                class="flex group justify-between items-center  hover:text-red-500 transition-colors">
                <div
                    class="w-6 h-6 mx-1 bg-contain bg-no-repeat bg-[url('https://playfangs.com/favicon.ico')] group-hover:bg-[url('favicon.ico')]">
                </div>
                <div class="hidden xs:inline-block">Play Fangs</div>
            </a>
            <a href="https://twitter.com/PlayFANGS"
                class="flex group justify-between items-center hover:text-sky-400 transition-colors">
                <div
                    class="w-6 h-6 -mb-1 mx-1 bg-contain bg-no-repeat bg-[url('/assets/twitter_icon_blue.png')] group-hover:bg-[url('/assets/twitter_icon_white.png')]">
                </div>
                <div class="hidden xs:inline-block">Follow Twitter</div>
            </a>
            <a href="https://www.youtube.com/@PlayFANGS"
                class="flex group justify-between items-center hover:text-red-600 transition-colors">
                <div
                    class="w-6 h-6 -mb-2 mx-1 bg-contain bg-no-repeat bg-[url('/assets/yt_icon_red.png')] group-hover:bg-[url('/assets/yt_icon_white.png')]">
                </div>
                <div class="hidden xs:inline-block">Watch Youtube</div>
            </a>
            <a href="https://discord.gg/FANGS"
                class="flex group justify-between items-center hover:text-indigo-500 transition-colors">
                <div
                    class="w-6 h-6 -mb-1 mx-1 bg-contain bg-no-repeat bg-[url('/assets/discord_icon_blurple_RGB.png')] group-hover:bg-[url('/assets/discord_icon_clyde_white_RGB.png')]">
                </div>
                <div class="hidden xs:inline-block">Join Discord</div>
            </a>
        </div>
    </div>
</div>