<div>
    <div class="@flex flex-col">Admin Dashboard
        <a routerLink="abilityTypes/"
            class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">Ability
            Types</a>
        <a routerLink="heroClasses/" class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">Hero
            Class</a>
        <a routerLink="heroes/" class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">Hero
        </a>
        <a routerLink="augmentCategory/"
            class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">Augment Category
        </a>
        <a routerLink="augment/"
            class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">Augment 
        </a>
    </div>
</div>