<div class="flex flex-col p-2">
    Changes
    <div class="p-1">
        <app-changelog> </app-changelog>
    </div>

    Admin Dashboard
    <div class="flex flex-col p-1">
        <a routerLink="abilityType/" class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">
            Ability Types </a>
        <a routerLink="heroClass/" class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">
            Hero Class </a>
        <a routerLink="hero/" class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">Hero
        </a>
        <a routerLink="augmentCategory/"
            class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">Augment Category
        </a>
        <a routerLink="augment/" class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">Augment
        </a>
        <a routerLink="artifactType/"
            class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">Artifact Type
        </a>
        <a routerLink="artifact/" class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">
            Artifact
        </a>
        <a routerLink="boon/" class="flex text-blue-600 underline hover:text-blue-500 active:text-blue-700">
            Boon
        </a>
    </div>
</div>