<form [formGroup]="form" (ngSubmit)="submit()" class="w-full ">
    <div>
        <div class="text-sky-400" [class.hidden]="editId <= 0 ">Currently Editing</div>
        <div class="flex flex-col">
            <label for="title">Title</label>
            <input id="title" type="text" formControlName="title" class="w-fit border-2 text-gray-900" />
            <div [class.hidden]="!form.controls['title'].errors?.['required']" class="text-red-600">
                Title is required
            </div>
        </div>
        <div class="flex flex-col">
            <label for="description">Description</label>
            <textarea id="description" type="text" formControlName="description"
                class="w-fit border-2 text-gray-900  resize"></textarea>
        </div>
        <div class="text-green-500">{{ successMsg }}</div>
        <div class="text-red-600">{{ errorMsg }}</div>
        <button type="submit" [disabled]="!form.valid"
            class="bg-black enabled:hover:bg-stone-900 enabled:active:bg-stone-800 w-fit p-2 mx-auto my-2">
            {{ editId > -1 ? "Submit Edit" : "Submit Build" }}</button>
    </div>
</form>