<div class="p-2">
    <div class="flex w-full justify-center">
        <input #searchText (input)="lookup(searchText.value)" placeholder="Hero Name..." class="bg-gray-600" />
    </div>
    <div class="flex flex-row flex-wrap h-full justify-center">
        <div *ngFor="let hero of filteredHeroes$ | async" class="w-16 sm:w-24 md:w-32">
            <div class="m-2">
                <button (click)="goToHero(hero.id)">
                    <img src="{{hero.imagePath}}" title="{{hero.name}}" />
                </button>
            </div>
        </div>
    </div>
    <app-hero-builds *ngIf="(heroId | async)" [heroId]="heroId"></app-hero-builds>
</div>